---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

jobs:
  shell_check:
    name: "Shell: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/shell_check.yaml@2510c7c05af9229bf86d42c8593c3f64a72886d1  # v2.1.16
  tf_module_check:
    name: "Terraform Module: Code checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/tf_module_check.yaml@2510c7c05af9229bf86d42c8593c3f64a72886d1  # v2.1.16
  yaml_check:
    name: "YAML: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/yaml_check.yaml@2510c7c05af9229bf86d42c8593c3f64a72886d1  # v2.1.16
